body{
    background-image: url("img/fondocolores.gif");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: Autumn;
}
img{
    margin-left: 720px;

}
h1:first-of-type {
 margin-bottom: -15px;
}

h3:first-of-type{
    color: yellow;
}