body{
    background-image: url("img/fondocolores.gif");
    background-size: 1700px;
    color: white;
    font-family: Commons;
}
img{
    margin-left: 740px;

}
h1:first-of-type {
 margin-bottom: -60px;
    font-size: 3em;
}

h3:first-of-type{
    color: yellow;
    font-size: 2em;
}
section:nth-of-type(2){
    text-align: center;
    border-bottom: 3px solid white;
    margin-left: 325px;
    margin-right: 325px;
}
#titulos{
    font-size: 2em;
    margin-left: 650px;
    margin-right: 650px;
    border: 2px solid white;
    border-radius: 25px;
}
#titulos:hover{
    background-color: red;
}
ul:nth-of-type(1){
    list-style-type: circle;
    text-align: center;
}
li>strong{
    padding-left: 100px;
}
table{
    width: 500px;
    margin: auto;
    border: 3px solid white;
    border-spacing: 20px;
}
tr>td:first-child{
    text-decoration: underline;
}
td{
    border-bottom: 1px dashed white;
}
section:nth-of-type(4)>p{
    margin-left: 330px;
    margin-right: 325px;
}
section:nth-of-type(5)>p{
    margin-left: 330px;
    margin-right: 325px;
    text-align: center;
}
section:nth-of-type(5)>p:last-of-type{
    text-decoration: underline;
}
ul:nth-of-type(2){
    text-align: center;
    list-style:none
}
li>strong {
    color: red;
    margin-left: -110px;
}
li{
    list-style: none;
}
#social{
    max-width: 55%;
    height: auto;
    margin: 20px;
    padding: 5px;
    display: block;
    margin: auto;
}
